<h1>{{ 'aboutTitle' | translate }}</h1>
<ngb-tabset justify="fill">
  <ngb-tab title="{{'card.title' |translate}}">
    <ng-template ngbTabContent>
      <app-languages></app-languages>
      <!--          <h5 class="card-title">{{'card.title' |translate}}</h5>-->
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Simple">
    <ng-template ngbTabContent>
      <!--          <h5 class="card-title">{{'card.title' |translate}}</h5>-->
      Lots of pants
    </ng-template>
  </ngb-tab>
  <ngb-tab title="pimple">
    <ng-template ngbTabContent>
      <!--          <h5 class="card-title">{{'card.title' |translate}}</h5>-->
      Lots of pants
    </ng-template>
  </ngb-tab>
</ngb-tabset>
