<div [ngClass]="{'shazam': navOpen}">
<span class="menu_toggle" (click)="onMenuClick()">
    <i class="menu_open fa fa-bars fa-lg"></i>
    <i class="menu_close fa fa-times fa-lg"></i>
</span>
  <ul class="menu_items">
    <li><a routerLink="/home" (click)="onMenuClick()"><i class="icon fas fa-address-card fa-2x"></i>Home</a></li>
    <li><a routerLink="/about" (click)="onMenuClick()"><i class="icon fa fa-signal fa-2x"></i>About</a></li>
    <li><a routerLink="/contact" (click)="onMenuClick()"><i class="icon fa fa-heart fa-2x"></i>Contact</a></li>
  </ul>
</div>
