/* You can add global styles to this file, and also import other style files */
html,
body
  height: 100%
  overflow: hidden

//h1
//  padding-bottom: 15px
//  border-bottom: 1px solid #ddd

body
  color: #a52a2a
